[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/tinyobjloader-c"]
	path = extern/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "extern/--force"]
	path = extern/--force
	url = https://github.com/zeux/meshoptimizer.git
[submodule "extern/fast_obj"]
	path = extern/fast_obj
	url = git@github.com:thisistherk/fast_obj.git
[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
